<?xml version="1.0" encoding="utf-8" ?>
<root>
  <menuDefinition name="MainMenu" displayName="MainMenu">
    <menuItemDefinition name="Home" displayName="HomePage" icon="home" url="" requiresAuthentication="true"/>
    <menuItemDefinition name="Tenants" displayName="Tenants" icon="business" url="Tenants" requiredPermissionName="Pages.Tenants"/>
    <menuItemDefinition name="Users" displayName="Users" icon="people" url="Users" requiredPermissionName="Pages.Users" />
    <menuItemDefinition name="Roles" displayName="Roles" icon="local_offer" url="Roles" requiredPermissionName="Pages.Roles" />
    <menuItemDefinition name="LoginLogs" displayName="LoginLogs"  url="LoginLogs" icon="info"/>
    <menuItemDefinition name="AuditLogs" displayName="AuditLogs"  url="AuditLogs" icon="info"/>
    <menuItemDefinition name="About" displayName="About"  url="About" icon="info"/>
  </menuDefinition>
</root>
