<?xml version="1.0" encoding="utf-8" ?>
<root>
	<permission name="Pages.Users" displayName="Users" description="" multiTenancySides=""></permission>
	<permission name="Pages.Roles" displayName="Roles" description="" multiTenancySides=""></permission>
	<permission name="Pages.Tenants" displayName="Tenants" description="" multiTenancySides="Host"></permission>
  <permission name="Pages.LoginLogs" displayName="LoginLogs"></permission>
</root>