@using JK.Web.Models.Common.Modals
@model JK.Profile.Dto.ChangePasswordInput
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("修改密码"))
<div class="modal-body">
    <form name="ChangePasswordModalForm" class="form-validation">
        <div class="input-group">
            <label for="CurrentPassword" class="input-group-addon">当前密码</label>
            <div class="form-line">
                <input id="CurrentPassword" type="password" autocomplete="off" name="CurrentPassword" class="form-control" required maxlength="@Abp.Authorization.Users.AbpUserBase.MaxPlainPasswordLength">
            </div>
        </div>
        <div class="input-group">
            <label for="NewPassword" class="input-group-addon">新密码</label>
            <div class="form-line">

                <input id="NewPassword" type="password" autocomplete="off" name="NewPassword" class="form-control" required maxlength="@Abp.Authorization.Users.AbpUserBase.MaxPlainPasswordLength" />
            </div>
        </div>
        <div class="input-group">
            <label for="NewPasswordRepeat" class="input-group-addon">重复新密码</label>
            <div class="form-line">
                <input id="NewPasswordRepeat" type="password" autocomplete="off" name="NewPasswordRepeat" class="form-control" required equalto="#NewPassword">
            </div>
        </div>
    </form>
</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
